doctype html
head
link(rel="stylesheet", href="/css/style1.css")
title temperature
script(type='text/javascript').
    if (foo) bar(1 + 5)
h1 Level
.sc-gauge
  .sc-background
    .sc-percentage
    .sc-mask
    span.sc-value=msg
  span.sc-min 0
  span.sc-max 100
