doctype html
head
  title hello
  link(rel='stylesheet' href='/css/style.css')
header
  ul.c-rainbow
    li.c-rainbow__layer.c-rainbow__layer--white
      | SMART CONTAINER(IOT)
    li.c-rainbow__layer.c-rainbow__layer--orange
      | SMART CONTAINER(IOT)
    li.c-rainbow__layer.c-rainbow__layer--red
      | SMART CONTAINER(IOT)
    li.c-rainbow__layer.c-rainbow__layer--violet
      | SMART CONTAINER(IOT)
    li.c-rainbow__layer.c-rainbow__layer--blue
      | SMART CONTAINER(IOT)
    li.c-rainbow__layer.c-rainbow__layer--green
      | SMART CONTAINER(IOT)
    li.c-rainbow__layer.c-rainbow__layer--yellow
      | SMART CONTAINER(IOT)
script(src='/js/script.js')
script.
  var timer = setTimeout(function () {
  window.location = "/home";
  }, 3000);
